@charset "UTF-8";

*{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	
	
}

.haveAhRim{
	border:2px solid lightblue;
}
.video-wrapper{
    
    border: 2px solid #000;
    width: 100%;
    height: 850px;
    position: relative;
    overflow: hidden;
    
}
.searchPage{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 10px;
}
.searchPage h5{
    margin-right: 20px;
}
video {
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.content{
    width: 100%;
    height: 100%;
    
}

.navbar{
    
    display: flex;
    justify-content: space-between;
    
}
.space{
    background: linear-gradient(rgba(238, 206, 2, 0.829), rgba(244, 0, 0, 0.521));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.space1{
    background: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(63, 61, 2, 0.731);
}

h1{
    font-size: 60px;
}
.wordsToShow{
    position: relative;
    text-align: center;
}
.d-flexer{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
li{
    margin-right: 30px;
}

.nextPage{
    height: 400px;
    width: 100%;
}

.firstImage{
    width: 100%;
    height: 700px;
    background-image: url("/images/image3.jpg");
    background-repeat: repeat;
    background-size: 1200px;
}
.reg{
    width: 100px;
    height: 40px;
    color: white;
    border: 2px solid white;
    border-radius: 100px;
    font-size: large;
    background: none;
}

.fade{
    opacity: 0.4;
}

.secondImage{
    width: 100%;
    height: 700px;
    background-image: url("/images/image4.jpg");
    background-repeat: repeat;
    background-size: 1200px;
}
.loginImage{
    width: 100%;
    height: 700px;
    background-image: url("/images/login.jpg");
    
    background-size: cover;
}
.registerImage{
    width: 100%;
    height: 700px;
    background-image: url("/images/register.jpg");
    
    background-size: cover;
}

.mybar{
    background-image: url("/images/banner2.jpg");
    background-position-y: center ;
    border: 2px solid white;
    background-color: rgb(42, 63, 81);
}

.searchbar{
    width: 480px;
    height: 48px;
    border-radius: 100px;
    border: none;
    margin-right: 0px;
    background-color: rgb(208, 204, 204);
}
.mybar input{
    padding-left: 20px;
}
.plaza{
    background-color: rgba(41, 39, 39, 0.902);
    height: 650px;
    background-image: url("/images/spacer.jpg");
    background-size: cover;
    opacity: 0.3;
    position: absolute;
    width: 100%;
}
.mainPage{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10px;
}
.left{
    
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}
.none{
    text-decoration: none;
    color: black;
}
.none1{
    text-decoration: none;
    color: black;
}

.none2{
    text-decoration: none;
    
}
.none2:hover{
    text-decoration: underline;
}
.none:hover{
    background-color: rgba(0, 0, 0, 0.419);
    color: white;
}
.none1 h4:hover{
    font-size: 30px;
    
}
.left-item{
    display: flex;
    justify-content: left;
    padding-left: 30px;
    margin: 5px;
    
}
.left-item h4 {
    
    text-decoration: none;
    margin-right: 20px;
}
.middle{
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
}


.middle-item{
    
    width: 150px;
    height: fit-content;
    
}
.searchbar1{
    width: 100%;
    height: 48px;
    border-radius: 100px;
    padding-left: 20px;
    background-color: rgba(128, 128, 128, 0.317);
    border: none;
}
.searchbarComment{
    width: 100%;
    height: 30px;
    border-radius: 100px;
    padding-left: 20px;
    background-color: rgba(128, 128, 128, 0.317);
    border: none;
}
.percent{
    width: 100%;
}
.mind{
    align-items: center;
    flex-direction: column;
}
.right{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    
}
.circle{
    background-color: rgb(183, 186, 185);
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-right: 5px;
}
hr{
    color: black;
    background-color: black;
}

.justify-content-around .none1{
    margin-left: 20px;
}
.shadow{
    
    margin-left: 5px;
    height: 80px;
    
}

.pink{
    color: palevioletred;
}

.profile-name{
    background: linear-gradient(rgb(1, 53, 55), rgba(2, 110, 188, 0.858));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.friends-list{
    background: linear-gradient(rgb(1, 53, 55), rgba(2, 110, 188, 0.858));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.friends-list2{
    background: linear-gradient(rgb(6, 50, 247), rgba(66, 66, 67, 0.858));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.messageMain{
    height: 500px;
    width: auto;

}
